@import vars

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

::placeholder
  color: #666

::selection
  background-color: $accent
  color: #fff

body
  font-size: 14px
  min-width: 320px
  position: relative
  line-height: 1.425
  font-family: $default-font
  overflow-x: hidden
  color: $text
  background-color: #f8f8f8
  input, textarea
    border: #666 1px solid
    outline: none
    &:focus:required:invalid
      border-color: red
    &:required:valid
      border-color: green

.img-responsive
  display: block
  max-width: 100%
  height: auto

.text-center
  text-align: center

b, strong
  font-weight: bold

a:hover, a:active, a:focus
  color: inherit
  text-decoration: none

a
  color: $accent
  text-decoration: none
  +mt(.3s)

a, li, button
  outline: none!important

ul
  list-style-type: none
  padding: 0
  margin-bottom: 0

.hidden
  display: none!important
// ======= END TEMPLATE STYLES =======

.jq-selectbox__select
  font-size: 14px
  line-height: 1
  height: auto
  background: #ebebeb
  padding: 11px 30px 11px 20px
  font-weight: 700
  text-shadow: none
  box-shadow: none
  width: 175px
  border: none
  &:hover
    background: #ebebeb

.jq-selectbox.focused .jq-selectbox__select
  border: none

.jq-selectbox.opened
  .jq-selectbox__trigger-arrow
    transform: rotate(180deg)

.jq-selectbox__select-text
  width: auto!important

.jq-selectbox__trigger
  border-left: none

.jq-selectbox__trigger-arrow
  border: none
  width: 9px
  height: 5px
  background-image: url('../img/icons/select-arrow.svg')
  right: 19px
  top: calc(50% - 2.5px)
  +bg-cover

.jq-selectbox li:hover
  background-color: #02537e


.btn
  display: inline-block
  cursor: pointer
  line-height: 1
  white-space: nowrap
  border-radius: 5px
  text-align: center
  min-width: 165px
  padding: 16px
  +mt(.3s)
  border-width: 1px
  border-style: solid
  border-color: transparent

.btn-transparent
  color: #000
  border-color: #000
  &:hover, &:focus, &:active
    border-color: $accent
    background-color: $accent
    color: #fff

.btn-white
  background-color: #fff
  color: #000!important
  &:hover, &:focus, &:active
    background-color: #eee

.btn-accent
  background-color: $accent
  color: #fff
  &:hover, &:focus, &:active
    background-color: lighten($accent, 5%)
    color: #fff
  &.disabled
    filter: grayscale(.5)
    pointer-events: none
    &:hover, &:focus, &:active
      background-color: $accent
      color: #fff


.owl-stage
  display: -webkit-box
  display: -moz-box
  display: -ms-box
  display: box

.popup-form
  display: block
  background-color: #fff
  position: relative
  margin-left: auto
  margin-right: auto
  max-width: 400px
  padding: 50px
  text-align: center
  border: 1px solid #bfbfbf
  border-radius: 20px
  .btn
    width: 100%
  label
    margin-bottom: 20px
  .form-policy
    font-size: 12px
    color: #878787
    margin-top: 10px


//MY_MFP_ZOOM_IN
.my-mfp-zoom-in
  .zoom-anim-dialog, .popup-form
    opacity: 0
    transition: all 0.5s ease-in-out
    transform: scale(0.7)
  &.mfp-ready .zoom-anim-dialog, &.mfp-ready .popup-form
    opacity: 1
    transform: scale(1)
  &.mfp-removing .zoom-anim-dialog, &.mfp-removing .popup-form
    transform: scale(0.7)
    opacity: 0
  &.mfp-bg
    opacity: 0
    transition: opacity 0.5s ease-out
  &.mfp-ready.mfp-bg
    opacity: .9
  &.mfp-removing.mfp-bg
    opacity: 0


//PRELOADER
.sk-wave
  width: 6em
  height: 4em
  margin: auto
  text-align: center
  font-size: 1em

.sk-wave .sk-rect
  background-color: $accent
  height: 100%
  width: .5em
  display: inline-block
  animation: sk-wave-stretch-delay 1.2s infinite ease-in-out

.sk-wave .sk-rect-1
  animation-delay: -1.2s

.sk-wave .sk-rect-2
  animation-delay: -1.1s

.sk-wave .sk-rect-3
  animation-delay: -1s

.sk-wave .sk-rect-4
  animation-delay: -0.9s

.sk-wave .sk-rect-5
  animation-delay: -0.8s


@keyframes sk-wave-stretch-delay
  0%, 40%, 100%
    transform: scaleY(0.4)

  20%
    transform: scaleY(1)

.preloader
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 999
  display: flex
  justify-content: center
  align-items: center
  background-color: #f8f8f8


.telegram-link
  position: relative
  &.telegram-top
    .city-popup
      top: 33px
      &:before
        top: -26px
  &.telegram-foot
    .city-popup
      bottom: 36px
      &:before
        transform: rotate(180deg)
        bottom: -26px
  &.opened
    .city-popup
      display: block
  &>a
    //max-width: 160px
    overflow: hidden
    white-space: nowrap

.city-popup
  position: absolute
  z-index: 4
  right: 0
  background-color: #fff
  max-width: 400px
  display: none
  a
    display: block
    white-space: nowrap
    font-size: 16px
    text-decoration: none!important
    line-height: 1
    padding: 17px 30px
    border-bottom: 1px solid #ebebeb
    position: relative
    z-index: 2
    &:hover
      background-color: $accent
      color: #fff
    &:last-child
      border-bottom: none
  &:before
    content: ''
    position: absolute
    border: 16px solid transparent
    border-bottom: 12px solid #fff
    right: 84px

.breadcrumbs
  line-height: 1
  padding: 33px 0
  a
    display: inline-block
    color: #000
    margin-right: 34px
    position: relative
    &:after
      content: ''
      position: absolute
      width: 8px
      height: 5px
      background-image: url('../img/icons/breadcrumb-arrow.svg')
      +bg-cover
      transform: rotate(-90deg)
      right: -22px
      top: calc(50% - 2.5px)
    &:last-child
      pointer-events: none
      color: #a3a3a3
      &:after
        display: none
    &:hover
      color: $accent

.section-title
  font-weight: normal
  font-size: 30px
  margin-bottom: 50px







