@import vars


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)

  .foot-call
    font-size: 22px

  .telegram-top
    margin-left: 30px

  .top-links-1 li a
    margin-right: 10px

  .top-links-2 li
    margin-left: 20px

  .body-form
    padding-right: 40px

// ≥992px
+media-breakpoint-down(md)

  .foot-mnu-wrap
    padding-left: 0
    padding-right: 0
    width: calc(50% - 20px)
    a
      line-height: 1.2
      margin-bottom: 13px

  .foot-left
    text-align: right

  .footer-wrap
    flex-wrap: wrap
  .foot-item
    width: 50%
    order: 2
  .foot-mid
    order: 1

  .foot-acc
    display: block
    margin-bottom: 18px
    width: 280px
    margin-left: auto

  .foot-call
    margin-bottom: 25px

  .foot-recall
    width: 280px
    margin-bottom: 15px

  .s-news
    padding-top: 20px
    padding-bottom: 40px
    h2
      margin-bottom: 20px
    .btn-wrap
      margin-top: 20px

  .news-item
    margin-bottom: 30px

  .body-form
    margin-bottom: 30px

  .tech-items-wrap
    display: flex
    justify-content: space-between

  .tech-item
    width: calc(50% - 15px)

  .intro-img
    right: 0

  .intro-wrap
    padding: 50px 0
    &-text
      width: 60%
    h1
      font-size: 32px

  .telegram-top
    margin-left: 0

// ≥768px
+media-breakpoint-down(sm)

  .footer-wrap
    flex-direction: column

  .foot-item
    width: 100%

  .foot-left
    text-align: center
    margin-top: 25px

  .foot-acc
    margin-right: auto

  .foot-line
    .container
      flex-direction: column

  .foot-policy
    width: 100%
    margin-bottom: 25px

  .body-form
    .form-labels-wrap
      flex-direction: column
    .form-part
      width: 100%
    .btn
      margin-bottom: 6px

  .tech-items-wrap
    flex-wrap: wrap

  .tech-item
    width: 100%
    margin-bottom: 30px

  .intro-img
    right: -8px
    top: 20px

  .intro-wrap
    padding: 35px 0
    p
      font-size: 14px

// ≥480px
+media-breakpoint-down(xs)

  .main-head
    .jq-selectbox__select
      padding-left: 0
      width: 125px

  .telegram-link
    &>a
      font-size: 12px
      max-width: 140px
      white-space: normal
  .city-popup
    a
      font-size: 12px
      padding: 12px 20px

  .main-foot
    padding-top: 30px

  .foot-left
    text-align: left

  .foot-acc
    margin-left: 0

  .foot-mid
    flex-wrap: wrap

  .foot-mnu-wrap
    width: 100%
    ul
      display: none
      margin-bottom: 20px
      li
        padding-left: 20px
    h3
      padding-left: 20px
      position: relative
      margin-bottom: 20px
      cursor: pointer
      pointer-events: all
      &:before
        content: ''
        position: absolute
        width: 8px
        height: 6px
        background-image: url('../img/icons/select-arrow.svg')
        +bg-cover
        left: 0
        top: calc(50% - 3px)
    &.rolled
      h3
        &:before
          transform: rotate(180deg)

  .s-news
    padding-top: 45px
    padding-bottom: 50px
    h2
      font-size: 24px

  .news-item
    width: 280px
    margin-bottom: 0

  .mobile-block-2
    display: none

  .body-form
    padding: 35px 25px
    label
      margin-bottom: 15px
      &.mb
        margin-bottom: 30px
    .jq-selectbox__select
      font-size: 14px
      line-height: 1
      height: auto
      background: #ebebeb
      padding: 11px 30px 11px 20px
      font-weight: 700
      text-shadow: none
      box-shadow: none
      width: 175px
      border: none
      color: #000
      &:hover
        background: #ebebeb
    .jq-selectbox.focused .jq-selectbox__select
      border: none

    .jq-selectbox.opened
      .jq-selectbox__trigger-arrow
        transform: rotate(180deg)

    .jq-selectbox__select-text
      width: auto!important

    .jq-selectbox__trigger
      border-left: none

    .jq-selectbox__trigger-arrow
      border: none
      width: 9px
      height: 5px
      background-image: url('../img/icons/select-arrow.svg')
      right: 19px
      top: calc(50% - 2.5px)
      +bg-cover

  .tar-item
    width: 280px

  .tar-slider
    width: calc(100% + 15px)

  .s-tarifs
    padding-top: 55px
    border-top-left-radius: 30px
    border-top-right-radius: 30px
    overflow: hidden
    position: relative
    top: -30px
    margin-bottom: -30px
    h3
      font-size: 18px

  .tar-tabs-controls
    display: flex
    overflow-x: scroll
    -ms-overflow-style: none  /* Internet Explorer 10+ */
    scrollbar-width: none
    &::-webkit-scrollbar
      display: none
    &:after
      display: none
    li
      margin-right: 30px
    a
      font-size: 14px
      padding: 15px
      width: 150px
      background-color: #efefef
      text-align: center
      border-radius: 5px
    li.ui-tabs-active
      a
        background-color: $accent
        color: #fff
        border-bottom: none


  .intro-wrap
    h1
      font-size: 28px
    p
      margin-bottom: 30px

  .intro-img
    max-width: 300px
    top: 55px

  .s-intro
    padding-bottom: 60px

@media (max-width: 400px)

  .telegram-link
    &>a
      font-size: 11px
      max-width: 130px

  .s-intro
    padding-bottom: 30px

  .intro-img
    display: none

  .intro-wrap
    text-align: center
    &-text
      width: 100%
    h1
      font-size: 26px



/*==========  Mobile First  ==========*/

// ≤480px
+media-breakpoint-up(sm)
  .foot-mnu-wrap
    ul
      display: block!important

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
  .hamburger
    display: none
